        <section>
            <section>
                <h1>decode <span class="returns">Returns : <span>Promise</span></span></h1>
                <hr />
                <p>
                    This method creates the instance of AudioBuffer by decoding ArrayBuffer.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">AudioContext</span></td>
                            <td>
                                This argument is the instance of AudioContext.
                            </td>
                        </tr>
                        <tr>
                            <td>2nd</td>
                            <td><span class="type">ArrayBuffer</span></td>
                            <td>
                                This argument is the instance of ArrayBuffer.
                            </td>
                        </tr>
                        <tr>
                            <td>3rd</td>
                            <td><span class="type">function</span></td>
                            <td>
                                This argument is function that is invoked on success.
                            </td>
                        </tr>
                        <tr>
                            <td>4th</td>
                            <td><span class="type">function</span></td>
                            <td>
                                This argument is function that is invoked on error.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.decode&quot;);

X.ajax({
    url      : &apos;resources/audio/forever-love-piano-instruments.wav&apos;,
    success  : function(event, arrayBuffer) {
        var context = X.get();

        var successCallback = function(audioBuffer) {
            console.dir(audioBuffer);
        };

        var errorCallback   = function(error) {
            if (error instanceof Error) {
                window.alert(error.message);
            } else {
                console.error(&apos;decode error&apos;);
            }
        };

        var p = X.decode(context, arrayBuffer, successCallback, errorCallback);

        console.dir(p);
    },
    error    : function(event, textStatus) {
        console.error(textStatus);
    },
    progress : function(event) {
        if (event.lengthComputable) {
            var rate = Math.floor((event.loaded / event.total) * 100);
            console.log(rate + &apos; %&apos;);
        }
    }
});
</textarea>
            </section>
        </section>
