        <section>
            <section>
                <h1>ERROR_MODE <span class="type">Type : <span>number</span></span></h1>
                <hr />
                <p>
                    This property is only defined by development version.
                    This value is one of 0 (&apos;NONE&apos;), 1 (&apos;ALERT&apos;), 2 (&apos;CONSOLE&apos;), 3 (&apos;EXCEPTION&apos;).
                    The default value is 2 (&apos;CONSOLE&apos;).
                    This value can be changed by &apos;error&apos; method.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.ERROR_MODE&quot;);
console.log(X.ERROR_MODE);
</textarea>
            </section>
        </section>