        <section>
            <section>
                <h1>FULL_MODE <span class="type">Type : <span>boolean</span></span></h1>
                <hr />
                <p>
                    This property is to determine whether webkitAudioContext is implemented.
                    If webkitAudioContext is implemented, this value is true.
                    Otherwise this value is false.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.FULL_MODE&quot;);
console.log(X.FULL_MODE);
</textarea>
            </section>
        </section>