        <section>
            <section>
                <h1>get <span class="returns">Returns : <span>AudioContext</span></span></h1>
                <hr />
                <p>
                    This method returns the instance of <a href="http://webaudio.github.io/web-audio-api/#the-audiocontext-interface" target="_blank">AudioContext</a>
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.get&quot;);
console.dir(X.get());
</textarea>
            </section>
        </section>