        <section>
            <section>
                <h1>IS_XSOUND <span class="type">Type : <span>boolean</span></span></h1>
                <hr />
                <p>
                    This property is to determine whether this library is usable.
                    If this library is usable, this value is true.
                    Otherwise this value is false.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.IS_XSOUND&quot;);
console.log(X.IS_XSOUND);
</textarea>
            </section>
        </section>