        <section>
            <section>
                <h1>NUM_OUTPUT <span class="type">number</span></h1>
                <hr />
                <p>
                    This property is the number of output channels for <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">ScriptProcessorNode</a>.
                    The default value is 2.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.NUM_OUTPUT&quot;);
console.log(X.NUM_OUTPUT);
</textarea>
            </section>
        </section>