        <section>
            <section>
                <h1>NUMBER_OF_INPUTS <span class="type">Type : <span>number</span></span></h1>
                <hr />
                <p>
                    This property is the number of input channels for <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">ScriptProcessorNode</a>.
                    The default value is 2.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.NUMBER_OF_INPUTS&quot;);
console.log(X.NUMBER_OF_INPUTS);
</textarea>
            </section>
        </section>