        <section>
            <section>
                <h1>toFrequencies <span class="returns">Returns : <span>Array</span></span></h1>
                <hr />
                <p>
                    This method returns array that contains frequency.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Array</span> or <span class="type">number</span></td>
                            <td>This value means the index that corresponds to 88 keyboards of Piano.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X.toFrequencies&quot;);

console.dir(X.toFrequencies());
console.dir(X.toFrequencies(0));
console.dir(X.toFrequencies(48));
console.dir(X.toFrequencies([40, 44, 47]));
</textarea>
            </section>
        </section>