        <section>
            <section>
                <h1>fullscreen <span class="type">MediaModule | MediaFallbackModule</span></h1>
                <hr />
                <p>
                    This method changes video screen to full screen.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;media&apos;).fullscreen&quot;);

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);  // Use Web Audio API (MediaElementAudioSourceNode)
} else {
    mediaPlayer = X(&apos;media&apos;);  // Not use Web Audio API (Fallback by MediaElement)
}

var callbacks = {
    canplaythrough : function(event, data) {
        X(&apos;media&apos;).start(0);

        document.onkeydown = function(event) {
            switch (event.keyCode) {
                case 32 :
                    // Space
                    try {
                        X(&apos;media&apos;).fullscreen();
                    } catch (error) {
                        window.alert(error.message);
                    }

                    break;
                case 27 :
                    // Esc
                    try {
                        X(&apos;media&apos;).exitFullscreen();
                    } catch (error) {
                        window.alert(error.message);
                    }

                    break;
                default :
                    break;
            }
        };
    }
};

try {
    X(&apos;media&apos;).setup({
        id        : &apos;video-element&apos;,
        type      : &apos;video&apos;,
        formats   : [&apos;mp4&apos;, &apos;webm&apos;, &apos;ogv&apos;],
        callbacks : callbacks
    });

    X(&apos;media&apos;).ready(&apos;http://curtaincall.weblike.jp/portfolio-music-v/video/kurenai-twin&apos;);
} catch (error) {
    // Cannot use HTML5 MediaElement (for example, less than IE9)
    window.alert(error.message);
}
</textarea>
                <p><video id="video-element" width="640" height="480"></video></p>
            </section>
        </section>