        <section>
            <section>
                <h1>get <span class="returns">Returns : <span>MediaElementAudioSourceNode</span></span></h1>
                <hr />
                <p>
                    This method gets the instance of MediaElementAudioSourceNode.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;media&apos;).get&quot;);

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);
} else {
    mediaPlayer = X(&apos;media&apos;);
}

var audio = document.querySelector(&apos;audio&apos;);

try {
    X(&apos;media&apos;).setup({
        media   : audio,
        type    : &apos;audio&apos;,
        formats : [&apos;wav&apos;, &apos;ogg&apos;, &apos;mp3&apos;]
    });
} catch (error) {
    // Cannot use HTMLMediaElement (for example, less than IE9)
    window.alert(error.message);
}

audio.addEventListener(&apos;loadstart&apos;, function() {
    console.dir(X(&apos;media&apos;).get());
}, false);
</textarea>
                <p><audio src="resources/audio/forever-love-piano-instruments.wav" controls></audio></p>
            </section>
        </section>