        <section>
            <section>
                <h1>isSource <span class="returns">Returns : <span>boolean</span></span></h1>
                <hr />
                <p>
                    This method is to check for presence or absence of MediaElementAudioSourceNode.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;media&apos;).isSource&quot;);

console.log(X(&apos;media&apos;).isSource());

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);  // Use Web Audio API (MediaElementAudioSourceNode)
} else {
    mediaPlayer = X(&apos;media&apos;);  // Not use Web Audio API (Fallback by HTMLMediaElement)
}

var listeners = {
    loadstart : function(event) {
        console.log(&apos;loadstart&apos;);
        console.log(X(&apos;media&apos;).isSource());
    }
};

try {
    X(&apos;media&apos;).setup({
        media     : document.querySelector(&apos;audio&apos;),
        formats   : [&apos;wav&apos;, &apos;ogg&apos;, &apos;mp3&apos;],
        listeners : listeners
    }).ready(&apos;resources/audio/forever-love-piano-instruments&apos;);

    console.log(X(&apos;media&apos;).isSource());
} catch (error) {
    // Cannot use HTMLMediaElement (for example, less than IE9)
    window.alert(error.message);
}
</textarea>
                <p><audio controls></audio></p>
            </section>
        </section>