        <section>
            <section>
                <h1>param <span class="returns">Returns : <span>number | boolean | MediaModule | MediaFallbackModule</span></span></h1>
                <hr />
                <p>
                    This method gets or sets parameters.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>This value is key for parameters.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">number</span> or <span class="type">boolean</span> or <span class="type">undefined</span></td>
                            <td>This value is value for parameters. If this value is undefined, this method is getter.</td>
                        </tr>
                    </tbody>
                </table>
                <p>or,</p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>This value is associative array for parameters.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;param&apos;).stop&quot;);

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);  // Use Web Audio API (MediaElementAudioSourceNode)
} else {
    mediaPlayer = X(&apos;media&apos;);  // Not use Web Audio API (Fallback by HTMLMediaElement)
}

var listeners = {
    canplaythrough : function(event) {
        document.querySelector(&apos;#range-current-time&apos;).setAttribute(&apos;max&apos;, X(&apos;media&apos;).param(&apos;duration&apos;));  // Read only
        document.querySelector(&apos;#output-channels&apos;).textContent = X(&apos;media&apos;).param(&apos;channels&apos;);            // Read only

        document.querySelector(&apos;button&apos;).onclick = function() {
            if (X(&apos;media&apos;).isPaused()) {
                this.textContent = &apos;PAUSE&apos;;
            } else {
                this.textContent = &apos;START&apos;;
            }

            X(&apos;media&apos;).toggle(X(&apos;media&apos;).param(&apos;currentTime&apos;));
        };

        document.querySelector(&apos;#range-master-volume&apos;).oninput = function() {
            X(&apos;media&apos;).param(&apos;mastervolume&apos;, this.valueAsNumber);
            // or,
            // X(&apos;media&apos;).param({mastervolume : this.valueAsNumber});

            document.querySelector(&apos;#output-master-volume&apos;).textContent = X(&apos;media&apos;).param(&apos;mastervolume&apos;);
        };

        document.querySelector(&apos;#range-playback-rate&apos;).oninput = function() {
            X(&apos;media&apos;).param(&apos;playbackRate&apos;, this.valueAsNumber);
            // or,
            // X(&apos;media&apos;).param({playbackRate : this.valueAsNumber});

            document.querySelector(&apos;#output-playback-rate&apos;).textContent = X(&apos;media&apos;).param(&apos;playbackRate&apos;);
        };

        document.querySelector(&apos;#range-current-time&apos;).oninput = function() {
            X(&apos;media&apos;).param(&apos;currentTime&apos;, this.valueAsNumber);
            // or,
            // X(&apos;media&apos;).param({currentTime : this.valueAsNumber});

            document.querySelector(&apos;#output-current-time&apos;).textContent = X(&apos;media&apos;).param(&apos;currentTime&apos;);
        };

        document.querySelector(&apos;#checkbox-loop&apos;).onclick = function() {
            X(&apos;media&apos;).param(&apos;loop&apos;, this.checked);
            // or,
            // X(&apos;media&apos;).param({loop : this.checked});
        };

        document.querySelector(&apos;#checkbox-muted&apos;).onclick = function() {
            X(&apos;media&apos;).param(&apos;muted&apos;, this.checked);
            // or,
            // X(&apos;media&apos;).param({muted : this.checked});
        };
    },
    timeupdate     : function(event) {
        document.querySelector(&apos;#range-current-time&apos;).valueAsNumber = X(&apos;media&apos;).param(&apos;currentTime&apos;);
        document.querySelector(&apos;#output-current-time&apos;).textContent  = X(&apos;media&apos;).param(&apos;currentTime&apos;);
    },
    ended          : function(event) {
        X(&apos;media&apos;).param(&apos;currentTime&apos;, 0);
        document.querySelector(&apos;button&apos;).textContent = &apos;START&apos;;
    }
};

try {
    X(&apos;media&apos;).setup({
        media     : document.querySelector(&apos;audio&apos;),
        formats   : [&apos;wav&apos;, &apos;ogg&apos;, &apos;mp3&apos;],
        listeners : listeners
    }).ready(&apos;resources/audio/forever-love-piano-instruments&apos;);
} catch (error) {
    // Cannot use HTMLMediaElement (for example, less than IE9)
    window.alert(error.message);
}
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility"><audio></audio></dt>
                    <dd><button type="button">START</button></dd>
                    <dt>channels</dt>
                    <dd><span id="output-channels">0</span> channels</dd>
                    <dt><label><input type="checkbox" id="checkbox-loop" /> loop</label></dt>
                    <dd class="invisibility"></dd>
                    <dt><label><input type="checkbox" id="checkbox-muted" /> muted</label></dt>
                    <dd class="invisibility"></dd>
                    <dt><label for="range-master-volume">mastervolume : <span id="output-master-volume">1</span></label></dt>
                    <dd><input type="range" id="range-master-volume" value="1" min="0" max="1" step="0.05" /><dd>
                    <dt><label for="range-playback-rate">playbackRate : <span id="output-playback-rate">1</span></label></dt>
                    <dd><input type="range" id="range-playback-rate" value='1' min='0.05' max="2" step="0.05" /></dd>
                    <dt><label for="range-current-time">currentTime : <span id="output-current-time">0</span></label></dt>
                    <dd><input type="range" id="range-current-time" value="0" min="0" max="0" step="1" /></dd>
                </dl>
            </section>
        </section>