        <section>
            <section>
                <h1>ready <span class="returns">Returns : <span>MediaModule | MediaFallbackModule</span></span></h1>
                <hr />
                <p>
                    This method reads media.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>
                                This value is media URL.
                                But, the extension is excepted.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;media&apos;).ready&quot;);

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);  // Use Web Audio API (MediaElementAudioSourceNode)
} else {
    mediaPlayer = X(&apos;media&apos;);  // Not use Web Audio API (Fallback by HTMLMediaElement)
}

try {
    X(&apos;media&apos;).setup({
        media   : document.querySelector(&apos;audio&apos;),
        formats : [&apos;wav&apos;, &apos;ogg&apos;, &apos;mp3&apos;]
    });

    X(&apos;media&apos;).ready(&apos;resources/audio/forever-love-piano-instruments&apos;);
} catch (error) {
    // Cannot use HTMLMediaElement (for example, less than IE9)
    window.alert(error.message);
}
</textarea>
                <p><audio controls></audio></p>
            </section>
        </section>