        <section>
            <section>
                <h1>toggle <span class="returns">Returns : <span>MediaModule | MediaFallbackModule</span></span></h1>
                <hr />
                <p>
                    This method starts or stops media.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is the start time.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">Array</span></td>
                            <td>This value is the array for changing connection.</td>
                        </tr>
                        <tr>
                            <th>3rd</th>
                            <td><span class="type">function</span></td>
                            <td>This value is <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">onaudioprocess</a> event hanlder.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;media&apos;).toggle&quot;);

var mediaPlayer = null;

if (X.IS_XSOUND) {
    mediaPlayer = X(&apos;media&apos;);  // Use Web Audio API (MediaElementAudioSourceNode)
} else {
    mediaPlayer = X(&apos;media&apos;);  // Not use Web Audio API (Fallback by HTMLMediaElement)
}

var listeners = {
    canplaythrough : function(event) {
        document.querySelector(&apos;button&apos;).onclick = function() {
            if (X(&apos;media&apos;).isPaused()) {
                this.textContent = &apos;PAUSE&apos;;
            } else {
                this.textContent = &apos;START&apos;;
            }

            X(&apos;media&apos;).toggle(X(&apos;media&apos;).param(&apos;currentTime&apos;));
        };
    },
    ended          : function(event) {
        X(&apos;media&apos;).param(&apos;currentTime&apos;, 0);
        document.querySelector(&apos;button&apos;).textContent = &apos;START&apos;;
    }
};

try {
    X(&apos;media&apos;).setup({
        media     : document.querySelector(&apos;audio&apos;),
        formats   : [&apos;wav&apos;, &apos;ogg&apos;, &apos;mp3&apos;],
        listeners : listeners
    }).ready(&apos;resources/audio/forever-love-piano-instruments&apos;);
} catch (error) {
    // Cannot use HTMLMediaElement (for example, less than IE9)
    window.alert(error.message);
}
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility"><audio></audio></dt>
                    <dd><button type="button">START</button></dd>
                </dl>
            </section>
        </section>