        <section>
            <section>
                <h1>get <span class="returns">Returns : <span>AudioBuffer | Array</span></span></h1>
                <hr />
                <p>
                    This method gets the instance of AudioBuffer or the array that contains the instance of AudioBuffer.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is one-shot index.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oneshot&apos;).get&quot;);

var base = &apos;resources/one-shots/&apos;;
var urls = [
    (base + &apos;C.mp3&apos;),
    (base + &apos;Ch.mp3&apos;),
    (base + &apos;D.mp3&apos;),
    (base + &apos;Dh.mp3&apos;),
    (base + &apos;E.mp3&apos;),
    (base + &apos;F.mp3&apos;),
    (base + &apos;Fh.mp3&apos;),
    (base + &apos;G.mp3&apos;),
    (base + &apos;Gh.mp3&apos;),
    (base + &apos;A.mp3&apos;),
    (base + &apos;Ah.mp3&apos;),
    (base + &apos;B.mp3&apos;)
];

// for setup
var settings = new Array(88);

for (var i = 0, len = settings.length; i &lt; len; i++) {
    var setting = {
        buffer : 0,      // for selecting the instance of AudioBuffer
        rate   : 1,      // for &apos;playbackRate&apos; property in the instance of AudioBufferSourceNode
        loop   : false,  // for &apos;loop&apos; property in the instance of AudioBufferSourceNode
        start  : 0,      // for &apos;loopStart&apos; property in the instance of AudioBufferSourceNode
        end    : 0,      // for &apos;loopEnd&apos; property in the instance of AudioBufferSourceNode
        volume : 1       // for the instance of GainNode
    };

    // Compute index for selecting the instance of AudioBuffer
    setting.buffer = (i + 9) % 12;

    // Compute &apos;playbackRate&apos; property in the instance of AudioBufferSourceNode
    if ((i >= 0) && (i <= 2)) {
        setting.rate = 0.0625;
    } else if ((i >= 3) && (i <= 14)) {
        setting.rate = 0.125;
    } else if ((i >= 15) && (i <= 26)) {
        setting.rate = 0.25;
    } else if ((i >= 27) && (i <= 38)) {
        setting.rate = 0.5;
    } else if ((i >= 39) && (i <= 50)) {
        setting.rate = 1;
    } else if ((i >= 51) && (i <= 62)) {
        setting.rate = 2;
    } else if ((i >= 63) && (i <= 74)) {
        setting.rate = 4;
    } else if ((i >= 75) && (i <= 86)) {
        setting.rate = 8;
    } else if ((i >= 87) && (i <= 98)) {
        setting.rate = 16;
    }

    settings[i] = setting;
}

// Load one-shot audios
try {
    X(&apos;oneshot&apos;).setup({
        resources : urls,
        settings  : settings,
        timeout   : 60000,
        success   : function(event, buffers) {
            for (var i = 0, len = urls.length; i &lt; len; i++) {
                console.dir(X(&apos;oneshot&apos;).get(i));  /** {@type AudioBuffer} */
            }

            console.dir(X(&apos;oneshot&apos;).get());  /** {@type Array.<AudioBuffer>} */
        }
    });
} catch (error) {
    window.alert(error.message);
    return;
}
</textarea>
            </section>
        </section>