        <section>
            <section>
                <h1>setup <span class="returns">Returns : <span>OneshotModule</span></span></h1>
                <hr />
                <p>
                    This method setups one-shot audios.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>
                                This argument is plain object that has the following properties.
                                <dl>
                                    <dt>resources <span class="type">Array</span></dt>
                                    <dd>This value is the array that contains one-shot URL or the instances of AudioBuffer.</dd>
                                    <dt>settings <span class="type">Object</span></dt>
                                    <dd>Please refer to the following sample code.</dd>
                                    <dt>timeout <span class="type">number</span></dt>
                                    <dd>This value is Ajax timeout.</dd>
                                    <dt>success <span class="type">function</span></dt>
                                    <dd>This function is invoked on load success.</dd>
                                    <dt>error <span class="type">function</span></dt>
                                    <dd>This function is invoked on load error.</dd>
                                    <dt>progress <span class="type">function</span></dt>
                                    <dd>This function is invoked while file is loaded.</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oneshot&apos;).setup&quot;);

var base = &apos;resources/one-shots/&apos;;
var urls = [
    (base + &apos;C.mp3&apos;),
    (base + &apos;Ch.mp3&apos;),
    (base + &apos;D.mp3&apos;),
    (base + &apos;Dh.mp3&apos;),
    (base + &apos;E.mp3&apos;),
    (base + &apos;F.mp3&apos;),
    (base + &apos;Fh.mp3&apos;),
    (base + &apos;G.mp3&apos;),
    (base + &apos;Gh.mp3&apos;),
    (base + &apos;A.mp3&apos;),
    (base + &apos;Ah.mp3&apos;),
    (base + &apos;B.mp3&apos;)
];

// for setup
var settings = new Array(88);

for (var i = 0, len = settings.length; i &lt; len; i++) {
    var setting = {
        buffer : 0,      // for selecting the instance of AudioBuffer
        rate   : 1,      // for &apos;playbackRate&apos; property in the instance of AudioBufferSourceNode
        loop   : false,  // for &apos;loop&apos; property in the instance of AudioBufferSourceNode
        start  : 0,      // for &apos;loopStart&apos; property in the instance of AudioBufferSourceNode
        end    : 0,      // for &apos;loopEnd&apos; property in the instance of AudioBufferSourceNode
        volume : 1       // for the instance of GainNode
    };

    // Compute index for selecting the instance of AudioBuffer
    setting.buffer = (i + 9) % 12;

    // Compute &apos;playbackRate&apos; property in the instance of AudioBufferSourceNode
    if ((i >= 0) && (i <= 2)) {
        setting.rate = 0.0625;
    } else if ((i >= 3) && (i <= 14)) {
        setting.rate = 0.125;
    } else if ((i >= 15) && (i <= 26)) {
        setting.rate = 0.25;
    } else if ((i >= 27) && (i <= 38)) {
        setting.rate = 0.5;
    } else if ((i >= 39) && (i <= 50)) {
        setting.rate = 1;
    } else if ((i >= 51) && (i <= 62)) {
        setting.rate = 2;
    } else if ((i >= 63) && (i <= 74)) {
        setting.rate = 4;
    } else if ((i >= 75) && (i <= 86)) {
        setting.rate = 8;
    } else if ((i >= 87) && (i <= 98)) {
        setting.rate = 16;
    }

    settings[i] = setting;
}

// Load one-shot audios
try {
    X(&apos;oneshot&apos;).setup({
        resources : urls,
        settings  : settings,
        timeout   : 60000,
        success   : function(event, buffers) {
            // The 1st argument is XMLHttpRequestProgressEvent
            // The 2nd argument is the array that contains AudioBuffers

            console.log(&apos;success&apos;);
            console.dir(event);
            console.dir(buffers);
        },
        error : function(event, textStatus) {
            // The 1st argument is one of XMLHttpRequestProgressEvent, Error, null
            // The 2nd argument is either &apos;error&apos; or &apos;timeout&apos;

            console.log(&apos;error&apos;);
            console.dir(event);
            console.dir(textStatus);
        },
        progress : function(event) {
            // The 1st argumnet is XMLHttpRequestProgressEvent

            console.log(&apos;progress&apos;);
            console.dir(event);
        }
    });
} catch (error) {
    window.alert(error.message);
    return;
}
</textarea>
            </section>
        </section>