        <section>
            <section>
                <h1>get <span class="returns">Returns : <span>AudioBufferSourceNode</span></span></h1>
                <hr />
                <p>
                    This method gets the instance of AudioBufferSourceNode.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;audio&apos;).get&quot;);
console.dir(X(&apos;audio&apos;).get());
</textarea>
            </section>
        </section>