        <section>
            <section>
                <h1>setup <span class="returns">Returns : <span>AudioModule</span></span></h1>
                <hr />
                <p>
                    This method setups callback functions.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>
                                This argument is plain object that has the following properties.
                                <dl>
                                    <dt>decode <span class="type">function</span></dt>
                                    <dd>This callback function is invoked while <a href="http://webaudio.github.io/web-audio-api/#widl-AudioContext-decodeAudioData-Promise-AudioBuffer--ArrayBuffer-audioData-DecodeSuccessCallback-successCallback-DecodeErrorCallback-errorCallback" target="_blank">decodeAudioData</a> is invoking.</dd>
                                    <dt>ready <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when <a href="http://webaudio.github.io/web-audio-api/#widl-AudioContext-decodeAudioData-Promise-AudioBuffer--ArrayBuffer-audioData-DecodeSuccessCallback-successCallback-DecodeErrorCallback-errorCallback" target="_blank">decodeAudioData</a> ended.</dd>
                                    <dt>start <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when audio starts.</dd>
                                    <dt>stop <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when audio stopped.</dd>
                                    <dt>update <span class="type">function</span></dt>
                                    <dd>This callback function is invoked while audio is playing.</dd>
                                    <dt>ended <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when audio ended.</dd>
                                    <dt>error <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when <a href="http://webaudio.github.io/web-audio-api/#widl-AudioContext-decodeAudioData-Promise-AudioBuffer--ArrayBuffer-audioData-DecodeSuccessCallback-successCallback-DecodeErrorCallback-errorCallback" target="_blank">decodeAudioData</a> failed.</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;audio&apos;).setup&quot;);

X(&apos;audio&apos;).setup({
    decode : function(arrayBuffer) {
        // The 1st argument is the instance of ArrayBuffer
    },
    ready : function(buffer) {
        // The 1st argument is the instance of AudioBuffer
    },
    start : function(source, currentTime) {
        // The 1st argument is the instance of AudioBufferSourceNode
        // The 2nd argument is current time (position) in the played audio
    },
    stop : function(source, currentTime) {
        // The 1st argument is the instance of AudioBufferSourceNode
        // The 2nd argument is current time (position) in the played audio
    },
    update : function(source, currentTime) {
        // The 1st argument is the instance of AudioBufferSourceNode
        // The 2nd argument is current time (position) in the played audio
    },
    ended : function(source, currentTime) {
        // The 1st argument is the instance of AudioBufferSourceNode
        // The 2nd argument is current time in audio
    },
    error : function(error) {
        // The 1st argument is either Error or null
    }
});
</textarea>
            </section>
        </section>