        <section>
            <section>
                <h1>start <span class="returns">Returns : <span>AudioModule</span></span></h1>
                <hr />
                <p>
                    This method starts audio.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is the start time..</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">Array</span></td>
                            <td>This value is the array for changing connection.</td>
                        </tr>
                        <tr>
                            <th>3rd</th>
                            <td><span class="type">function</span></td>
                            <td>This value is <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">onaudioprocess</a> event hanlder.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;audio&apos;).start&quot;);

X(&apos;audio&apos;).setup({
    ready : function(buffer) {
        document.querySelector(&apos;button&apos;).addEventListener(&apos;click&apos;, function() {
            if (X(&apos;audio&apos;).isPaused()) {
                X(&apos;audio&apos;).start(X(&apos;audio&apos;).param(&apos;currentTime&apos;));
                this.textContent = &apos;PAUSE&apos;;
            } else {
                X(&apos;audio&apos;).stop();
                this.textContent = &apos;START&apos;;
            }
        }, false);
    },
    start : function(source, currentTime) {
        console.log(&apos;start&apos;);
        console.dir(source);
        console.dir(currentTime);
    },
    stop : function(source, currentTime) {
        console.log(&apos;stop&apos;);
        console.dir(source);
        console.dir(currentTime);
    },
    update : function(source, currentTime) {
        console.log(&apos;update&apos;);
        console.dir(source);
        console.dir(currentTime);
    },
    ended : function(source, currentTime) {
        console.log(&apos;ended&apos;);
        console.dir(source);
        console.dir(currentTime);

        document.querySelector(&apos;button&apos;).textContent = &apos;START&apos;;
    },
    error : function(error) {
        if (error instanceof Error) {
            window.alert(error.message);
        } else {
            window.alert(&apos;Error : decodeAudioData&apos;);
        }
    }
});

X.ajax({
    url     : &apos;resources/audio/forever-love-piano-instruments.wav&apos;,
    timeout : 60000,
    success : function(event, arrayBuffer) {
        // ArrayBuffer -> AudioBuffer
        X(&apos;audio&apos;).ready.call(X(&apos;audio&apos;), arrayBuffer);
    }
});
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">Audio Controller</dt>
                    <dd><button type="button">START</button></dd>
                </dl>
            </section>
        </section>