        <section>
            <section>
                <h1>noisegate <span class="applicable">Applicable : <span>StreamModule</span></span></h1>
                <hr />
                <p>
                    This module is Noise Gate.
                </p>
                <table>
                    <caption>Parameters</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Value</th><th scope="col">Default</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>level</th>
                            <td><span class="type">number</span></td>
                            <td>0 &lt;= value &lt;= 1</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
try {
    X(&apos;stream&apos;).setup(false, function(){}, function(){}).ready().start();
} catch (error) {
    window.alert(error.message);
}

document.querySelector(&apos;#range-level&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;stream&apos;).module(&apos;noisegate&apos;).param(&apos;level&apos;, this.valueAsNumber);
    // or,
    // X(&apos;stream&apos;).module(&apos;noisegate&apos;).param({level : this.valueAsNumber});

    document.querySelector(&apos;#output-level&apos;).textContent = X(&apos;stream&apos;).module(&apos;noisegate&apos;).param(&apos;level&apos;);
}, false);
</textarea>
                <dl class="sound-controllers">
                    <dt><label for="range-level">level : <span id="output-level">0</span></label></dt>
                    <dd><input type="range" id="range-level" value="0" min="0" max="1" step="0.05" /></dd>
                </dl>
            </section>
        </section>