        <section>
            <section>
                <h1>wah <span class="applicable">Applicable : <span>*</span></span></h1>
                <hr />
                <p>
                    This module is Wah.
                </p>
                <table>
                    <caption>Parameters</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Value</th><th scope="col">Default</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>cutoff</th>
                            <td><span class="type">number</span></td>
                            <td>10 &lt;= value &lt;= half the sample-rate</td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <th>depth</th>
                            <td><span class="type">number</span></td>
                            <td>0 &lt;= value &lt;= 1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>rate</th>
                            <td><span class="type">number</span></td>
                            <td>value &gt;= 0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>resonance</th>
                            <td><span class="type">number</span></td>
                            <td>0.0001 &lt;= value &lt;= 1000</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);
X(&apos;oscillator&apos;, 0).param(&apos;type&apos;, &apos;sawtooth&apos;);

document.querySelector(&apos;button&apos;).addEventListener(&apos;mousedown&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;STOP&apos;;
}, false);

document.querySelector(&apos;button&apos;).addEventListener(&apos;touchstart&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;STOP&apos;;
}, false);

document.querySelector(&apos;button&apos;).addEventListener(&apos;mouseup&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;;
}, false);

document.querySelector(&apos;button&apos;).addEventListener(&apos;touchend&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;;
}, false);

X(&apos;oscillator&apos;).module(&apos;wah&apos;).state(true);

document.querySelector(&apos;[type=&quot;checkbox&quot;]&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;wah&apos;).state(this.checked);
}, false);

document.querySelector(&apos;#range-cutoff&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;cutoff&apos;, this.valueAsNumber);
    // or,
    // X(&apos;oscillator&apos;).module(&apos;wah&apos;).param({cutoff : this.valueAsNumber});

    document.querySelector(&apos;#output-cutoff&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;cutoff&apos;);
}, false);

document.querySelector(&apos;#range-depth&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;depth&apos;, this.valueAsNumber);
    // or,
    // X(&apos;oscillator&apos;).module(&apos;wah&apos;).param({depth : this.valueAsNumber});

    document.querySelector(&apos;#output-depth&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;depth&apos;);
}, false);

document.querySelector(&apos;#range-rate&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;rate&apos;, this.valueAsNumber);
    // or,
    // X(&apos;oscillator&apos;).module(&apos;wah&apos;).param({rate : this.valueAsNumber});

    document.querySelector(&apos;#output-rate&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;rate&apos;);
}, false);

document.querySelector(&apos;#range-resonance&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;resonance&apos;, this.valueAsNumber);
    // or,
    // X(&apos;oscillator&apos;).module(&apos;wah&apos;).param({resonance : this.valueAsNumber});

    document.querySelector(&apos;#output-resonance&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;wah&apos;).param(&apos;resonance&apos;);
}, false);
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">Sound Controller</dt>
                    <dd><button type="button">START</button></dd>
                    <dt><label><input type="checkbox" checked /> Wah</label></dt>
                    <dd class="invisibility"></dd>
                    <dt><label for="range-cutoff">cutoff : <span id="output-cutoff">350</span></label></dt>
                    <dd><input type="range" id="range-cutoff" value="350" min="10" max="22050" step="1" /></dd>
                    <dt><label for="range-depth">depth : <span id="output-depth">0</span></label></dt>
                    <dd><input type="range" id="range-depth" value="0" min="0" max="1" step="0.05" /></dd>
                    <dt><label for="range-rate">rate : <span id="output-rate">0</span></label></dt>
                    <dd><input type="range" id="range-rate" value="0" min="0" max="10" step="0.05" /></dd>
                    <dt><label for="range-resonance">resonance : <span id="output-resonance">1</span></label></dt>
                    <dd><input type="range" id="range-resonance" value="1" min="1" max="20" step="1" /></dd>
                </dl>
            </section>
        </section>