        <section>
            <section>
                <h1>domain#state <span class="returns">Returns : <span>boolean | (TimeOverview | Time | FFT)</span></span></h1>
                <hr />
                <p>
                    This method gets or sets state of analyser.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">boolean</span> or <span class="type">undefined</span></td>
                            <td>This value is to determine analyser state. If this value is undefined, this method is getter.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);

X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(document.querySelector(&apos;canvas&apos;));

X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).state(true);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;mousedown&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;PAUSE&apos;;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;touchstart&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;PAUSE&apos;;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;mouseup&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;touchend&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;;
}, false);

document.querySelectorAll(&apos;button&apos;)[1].addEventListener(&apos;click&apos;, function() {
    var state = X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).state();
    X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).state(!state);

    if (state) {
        this.textContent = &apos;ON&apos;;
    } else {
        this.textContent = &apos;OFF&apos;;
    }
}, false);
</textarea>
                <div class="draw-container">
                    <canvas width="480" height="120"></canvas>
                </div>
                <dl class="sound-controllers">
                    <dt class="invisibility">Analyser Controller</dt>
                    <dd>
                        <button type="button">START</button>
                        <button type="button">OFF</button>
                    </dd>
                </dl>
            </section>
        </section>