        <section>
            <section>
                <h1>domain#setup <span class="returns">Returns : <span>TimeOverview | Time | FFT</span></span></h1>
                <hr />
                <p>
                    This method setups the drawn Canvas or SVG.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>This value is the instance of HTMLCanvasElement or SVGElement.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <p>In the case of using Canvas, </p>
<pre>
<code>
&lt;!-- HTML --&gt;
&lt;div&gt;
    &lt;canvas width=&quot;480&quot; height=&quot;120&quot; &gt;&lt;/canvas&gt;
&lt;/div&gt;
</code>
</pre>
<textarea class="codemirror">
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;timeOverviewL&apos;).setup(document.querySelector(&apos;canvas&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;timeOverviewR&apos;).setup(document.querySelector(&apos;canvas&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(document.querySelector(&apos;canvas&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;fft&apos;).setup(document.querySelector(&apos;canvas&apos;));
</textarea>
                <div class="draw-container">
                    <canvas width="480" height="120"></canvas>
                </div>
               <p>In the case of using SVG, </p>
<pre>
<code>
&lt;!-- HTML --&gt;
&lt;div id=&quot;svg-visualizer-parent&quot;&gt;
    &lt;svg width=&quot;480&quot; height=&quot;120&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot;&gt;&lt;/svg&gt;
&lt;/div&gt;
</code>
</pre>
<textarea class="codemirror">
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;timeOverviewL&apos;).setup(document.querySelector(&apos;svg&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;timeOverviewR&apos;).setup(document.querySelector(&apos;svg&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(document.querySelector(&apos;svg&apos;));
X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;fft&apos;).setup(document.querySelector(&apos;svg&apos;));
</textarea>
                <div>
                    <svg width="480" height="120" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
                </div>
            </section>
        </section>