        <section>
            <section>
                <h1>param <span class="returns">Returns : <span>number | Analyser</span></span></h1>
                <hr />
                <p>
                    This method gets or sets parameters.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>This value is key for parameters.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">number</span> or <span class="type">undefined</span></td>
                            <td>This value is value for parameters. If this value is undefined, this method is getter.</td>
                        </tr>
                    </tbody>
                </table>
                <p>or,</p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>This value is associative array for parameters.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
    X(&apos;oscillator&apos;).setup(true);
    X(&apos;oscillator&apos;, 0).param(&apos;type&apos;, &apos;sawtooth&apos;);

    X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(document.querySelectorAll(&apos;canvas&apos;)[0]).state(true);
    X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;fft&apos;).setup(document.querySelectorAll(&apos;canvas&apos;)[1]).state(true);

    document.querySelector(&apos;button&apos;).addEventListener(&apos;mousedown&apos;, function() {
        X(&apos;oscillator&apos;).start(440);
        this.textContent = &apos;PAUSE&apos;;
    }, false);

    document.querySelector(&apos;button&apos;).addEventListener(&apos;touchstart&apos;, function() {
        X(&apos;oscillator&apos;).start(440);
        this.textContent = &apos;PAUSE&apos;;
    }, false);

    document.querySelector(&apos;button&apos;).addEventListener(&apos;mouseup&apos;, function() {
        X(&apos;oscillator&apos;).stop();
        this.textContent = &apos;START&apos;;
    }, false);

    document.querySelector(&apos;button&apos;).addEventListener(&apos;touchend&apos;, function() {
        X(&apos;oscillator&apos;).stop();
        this.textContent = &apos;START&apos;;
    }, false);

    document.querySelector(&apos;#select-fft-size&apos;).addEventListener(&apos;change&apos;, function() {
        X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param(&apos;fftSize&apos;, parseInt(this.value));
        // or,
        // X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param({fftSize : parseInt(this.value)});

        console.log(X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param(&apos;fftSize&apos;));
    }, false);

    document.querySelector(&apos;#range-smoothing-time-constant&apos;).addEventListener(&apos;input&apos;, function() {
        X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param(&apos;smoothingTimeConstant&apos;, this.valueAsNumber);
        // or,
        // X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param({smoothingTimeConstant : this.valueAsNumber});

        document.querySelector(&apos;#output-smoothing-time-constant&apos;).textContent = this.value;

        console.log(X(&apos;oscillator&apos;).module(&apos;analyser&apos;).param(&apos;smoothingTimeConstant&apos;));
    }, false);
</textarea>
                <div class="draw-container">
                    <canvas width="480" height="120"></canvas>
                    <canvas width="480" height="120"></canvas>
                </div>
                <dl class="sound-controllers">
                    <dt class="invisibility">Analyser Controller</dt>
                    <dd><button type="button">START</button></dd>
                    <dt><label for="select-fft-size">fftSize</label></dt>
                    <dd>
                        <select id="select-fft-size">
                            <option value="32">32</option>
                            <option value="64">64</option>
                            <option value="128">128</option>
                            <option value="256">256</option>
                            <option value="512">512</option>
                            <option value="1024">1024</option>
                            <option value="2048" selected="">2048</option>
                        </select>
                    </dd>
                    <dt><label for="range-smoothing-time-constant">smoothingTimeConstant : <span id="output-smoothing-time-constant">0.8</span></label></dt>
                    <dd><input type="range" id="range-smoothing-time-constant" value="0.8" min="0" max="1" step="0.05" /></dd>
                </dl>
            </section>
        </section>