        <section>
            <section>
                <h1>isStreaming <span class="returns">Returns : <span>boolean</span></span></h1>
                <hr />
                <p>
                    This method is to check streaming.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;stream&apos;).isStreaming&quot;);

var constraints = {
    audio : true,
    video : true
};

try {
    X(&apos;stream&apos;).setup(constraints, function(){}, function(){}).ready().start();
} catch (error) {
    window.alert(error.message);
}

document.querySelector(&apos;button&apos;).addEventListener(&apos;click&apos;, function() {
    console.log(X(&apos;stream&apos;).isStreaming());

    if (X(&apos;stream&apos;).isStreaming()) {
        X(&apos;stream&apos;).stop();
        this.textContent = &apos;START&apos;;
    } else {
        X(&apos;stream&apos;).start();
        this.textContent = &apos;STOP&apos;;
    }
}, false);
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">Stream Controller</dt>
                    <dd><button type="button">STOP</button></dd>
                </dl>
            </section>
        </section>