        <section>
            <section>
                <h1>ready <span class="type">StreamModule</span></h1>
                <hr />
                <p>
                    This method don't do anything.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;stream&apos;).ready&quot;);

try {
    X(&apos;stream&apos;).setup(false, function(){}, function(){}).ready();
} catch (error) {
    window.alert(error.message);
}
</textarea>
            </section>
        </section>