        <section>
            <section>
                <h1>setup <span class="returns">Returns : <span>StreamModule</span></span></h1>
                <hr />
                <p>
                    This method setups streaming.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">object</span></td>
                            <td>This value is to determine constraints for WebRTC.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">function</span></td>
                            <td>This function is invoked during streaming.</td>
                        </tr>
                        <tr>
                            <th>3rd</th>
                            <td><span class="type">function</span></td>
                            <td>This function is invoked on error.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;stream&apos;).setup&quot;);

var constraints = {
    audio : true,
    video : true
};

var streamCallback = function() {console.log(&apos;Streaming ...&apos;);};
var errorCallback  = function() {console.log(&apos;Error&apos;);};

try {
    X(&apos;stream&apos;).setup(constraints, streamCallback, errorCallback);

    X(&apos;stream&apos;).ready().start();
} catch (error) {
    window.alert(error.message);
}
</textarea>
            </section>
        </section>