        <section>
            <section>
                <h1>start <span class="returns">Returns : <span>StreamModule</span></span></h1>
                <hr />
                <p>
                    This method starts streaming.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Array</span></td>
                            <td>This value is the array for changing connection.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">function</span></td>
                            <td>This value is <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">onaudioprocess</a> event hanlder.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;stream&apos;).start&quot;);

var constraints = {
    audio : true,
    video : true
};

try {
    X(&apos;stream&apos;).setup(constraints, function(){}, function(){}).ready();
    X(&apos;stream&apos;).start();
} catch (error) {
    window.alert(error.message);
}
</textarea>
            </section>
        </section>