        <section>
            <section>
                <h1>TimeAll#update <span class="type">TimeAll</span></h1>
                <hr />
                <p>
                    This method draws current time of audio on Canvas or SVG.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is currant time of audio.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;audio&apos;).module(&apos;analyser&apos;).domain(&apos;time-all-L&apos;).setup(&apos;canvas&apos;, &apos;canvas-visualizer&apos;).state(true);

X(&apos;audio&apos;).setup({
    ready : function(buffer) {
        document.querySelector(&apos;button&apos;).addEventListener(&apos;click&apos;, function() {
            if (X(&apos;audio&apos;).isPaused()) {
                X(&apos;audio&apos;).start(X(&apos;audio&apos;).param(&apos;currentTime&apos;));
                this.textContent = &apos;PAUSE&apos;;
            } else {
                X(&apos;audio&apos;).stop();
                this.textContent = &apos;START&apos;;
            }
        }, false);
    },
    update : function(source, currentTime) {
        X(&apos;audio&apos;).module(&apos;analyser&apos;).domain(&apos;time-all-L&apos;).update(currentTime);
    },
    ended : function(source, currentTime) {
        X(&apos;audio&apos;).module(&apos;analyser&apos;).domain(&apos;time-all-L&apos;).update(0);
        document.querySelector(&apos;button&apos;).textContent = &apos;START&apos;;
    }
});

X.ajax({
    url     : &apos;resources/audio/kurenai-twin.wav&apos;,
    timeout : 60000,
    success : function(event, arrayBuffer) {
        // ArrayBuffer -> AudioBuffer
        X(&apos;audio&apos;).ready.call(X(&apos;audio&apos;), arrayBuffer);
    },
    error : function(event, textStatus) {
    },
    progress : function(event) {
    }
});
</textarea>
                <div class="draw-container">
                    <canvas id="canvas-visualizer" width="480" height="120"></canvas>
                </div>
                <dl class="sound-controllers">
                    <dt class="invisibility">Audio Controller</dt>
                    <dd><button type="button">START</button></dd>
                </dl>
            </section>
        </section>