        <section>
            <section>
                <h1>domain#download <span class="type">string (Data URL | HTML)</span></h1>
                <hr />
                <p>
                    This method captures the drawn wave.
                </p>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);

X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(&apos;canvas&apos;, &apos;canvas-visualizer&apos;);
// X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).setup(&apos;svg&apos;, &apos;svg-visualizer&apos;, &apos;svg-visualizer-parent&apos;);

X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).state(true);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;mousedown&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;PAUSE&apos;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;touchstart&apos;, function() {
    X(&apos;oscillator&apos;).start(440);
    this.textContent = &apos;PAUSE&apos;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;mouseup&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;
}, false);

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;touchend&apos;, function() {
    X(&apos;oscillator&apos;).stop();
    this.textContent = &apos;START&apos;
}, false);

document.querySelectorAll(&apos;button&apos;)[1].addEventListener(&apos;click&apos;, function() {
    var capturedWave = X(&apos;oscillator&apos;).module(&apos;analyser&apos;).domain(&apos;time&apos;).download();
    document.querySelector(&apos;#captured-wave&apos;).setAttribute(&apos;src&apos;, capturedWave);
}, false);
</textarea>
                <div class="draw-container">
                    <canvas id="canvas-visualizer" width="480" height="120"></canvas>
                </div>
                <!--
                <div id="svg-visualizer-parent" class="draw-container">
                    <svg id="svg-visualizer" width="480" height="120" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
                </div>
                -->
                <dl class="sound-controllers">
                    <dt class="invisibility">Sound Controller</dt>
                    <dd>
                        <button type="button">START</button>
                        <button type="button">DL</button>
                    </dd>
                    <dd><img id="captured-wave" /></dd>
                </dl>
            </section>
        </section>