        <section>
            <section>
                <h1>start <span class="type">Recorder</span></h1>
                <hr />
                <p>
                    This method starts recording.
                </p>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);

X(&apos;oscillator&apos;).module(&apos;recorder&apos;).setup(4).ready(0);
X(&apos;oscillator&apos;).module(&apos;recorder&apos;).start();

X(&apos;oscillator&apos;).start(440);
</textarea>
            </section>
        </section>