        <section>
            <section>
                <h1>start <span class="type">Session</span></h1>
                <hr />
                <p>
                    This method is to check that connection to WebSocket server exists.
                </p>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);

try {
    X(&apos;oscillator&apos;).module(&apos;session&apos;).setup({
        tls   : false,
        host  : &apos;210.152.156.200&apos;,
        port  : &apos;8000&apos;,
        path  : &apos;/home/node/websocket/&apos;,
        open  : function(event, socket) {
            console.log(X(&apos;oscillator&apos;).module(&apos;session&apos;).isConnected());

            X(&apos;oscillator&apos;).start(440);
            X(&apos;oscillator&apos;).module(&apos;session&apos;).start();

            document.querySelector(&apos;button&apos;).addEventListener(&apos;click&apos;, function() {
                X(&apos;oscillator&apos;).module(&apos;session&apos;).close();
                console.log(X(&apos;oscillator&apos;).module(&apos;session&apos;).isConnected());
            }, false);
        },
        close : function(event, socket) {
            window.alert(&apos;onclose&apos;);

            console.log(&apos;close&apos;);
            console.dir(event);
            console.dir(socket);
        }
    }).state(true);
} catch (error) {
    window.alert(error.message);
}
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">Session Controller</dt>
                    <dd><button type="button">CLOSE</button></dd>
                </dl>
            </section>
        </section>