        <section>
            <section>
                <h1>XSound</h1>
                <hr />
                <p>HTML5 Web Audio API Library</p>
            </section>
            <section>
                <h1>Overview</h1>
                <hr />
                <p>
                    This is full stack library for Web Audio API.<br />
                    In concrete, this library may be useful to implement the following features.
                </p>
                <ul class="list-marker">
                    <li>Create Sound</li>
                    <li>Play the One-Shot Audio</li>
                    <li>Play the Audio</li>
                    <li>Play the Media (Fallback by HTML5 MediaElement)</li>
                    <li>Streaming (by WebRTC)</li>
                    <li>MIDI (by Web MIDI API)</li>
                    <li>MML (Music Macro Language)</li>
                    <li>Effectors (Compressor / Wah / Equalizer / Tremolo / Phaser / Chorus / Delay / Reverb ...etc)</li>
                    <li>Visualization (Overview in Time Domain / Time Domain / Spectrum)</li>
                    <li>Recording (Create WAVE file)</li>
                    <li>Session (by WebSocket)</li>
                </ul>
                <p>The structure of description is the following.</p>
<pre>
<code>
XSound(/* sound source */).setup();
XSound(/* sound source */).param();
XSound(/* sound source */).ready();
XSound(/* sound source */).start();
XSound(/* sound source */).stop();

XSound(/* sound source */).module(/* effectors, analyser, recorder, session */).setup();
XSound(/* sound source */).module(/* effectors, analyser, recorder, session */).param();
XSound(/* sound source */).module(/* effectors, analyser, recorder, session */).start();
XSound(/* sound source */).module(/* effectors, analyser, recorder, session */).stop();
</code>
</pre>
                <p>or</p>
<pre>
<code>
X(/* sound source */).setup();
X(/* sound source */).param();
X(/* sound source */).ready();
X(/* sound source */).start();
X(/* sound source */).stop();

X(/* sound source */).module(/* effectors, analyser, recorder, session */).setup();
X(/* sound source */).module(/* effectors, analyser, recorder, session */).param();
X(/* sound source */).module(/* effectors, analyser, recorder, session */).start();
X(/* sound source */).module(/* effectors, analyser, recorder, session */).stop();
</code>
</pre>
                <p>...etc</p>
            </section>
            <section>
                <h1>Getting Started</h1>
<pre>
<code>
X('oscillator').setup(true).ready().start(440);
</code>
</pre>
            </section>
            <section>
                <h1>Demo</h1>
                <hr />
                <p>
                    The application that uses this library is in the following URL.<br />
                    Please use one of Chrome, Opera, Firefox, Safari, Edge.
                </p>
                <ul class="list-marker">
                    <li><a href="https://korilakkuma.github.io/X-Sound/" target="_blank">X Sound</a></li>
                    <li><a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-music-v/" target="_blank">Music V</a></li>
                    <li><a href="https://github.com/Korilakkuma/Music-Tweet" target="_blank">Music Tweet</a></li>
                </ul>
                <p>Now, I'm creating website for Web Audio API. Please refer to the following site for understanding this API Document.</p>
                <ul class="list-marker">
                    <li><a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-web-sounder/" target="_blank">WEB SOUNDER</a></li>
                </ul>
            </section>
            <section>
                <h1>Installation</h1>
<pre><code>$ npm install xsound</code></pre>
                <p>or,</p>
<pre><code>$ bower install xsound</code></pre>
            </section>
                <p>In the case of using WebSocket,</p>
<pre><code>$$ npm install websocket</code></pre>
                <p>or,</p>
<pre><code>$ npm install ws</code></pre>
            <section>
                <h1>Usage</h1>
                <hr />
<pre><code>&lt;script type="text/javascript" src="xsound.min.js"&gt;&lt;/script&gt;</code></pre>
                <p>In the case of development,</p>
<pre><code>&lt;script type="text/javascript" src="xsound.js"&gt;&lt;/script&gt;</code></pre>
                <p>In the case of using WebSocket,</p>
<pre><code>$ node xsound-server-session-websocket.js</code></pre>
                <p>or,</p>
<pre><code>$ node xsound-server-session-ws.js</code></pre>
                <p>
                    Default port number is 8000.<br />
                    This port number can be changed by designating argument.<br />
                    For example,
                </p>
<pre><code>$ node xsound-server-session-websocket.js 8080</code></pre>
                <p>In the case of recording log, the path of log file must be designated by the 2nd argument.</p>
<pre><code>$ node xsound-server-session-websocket.js 8080 websocket.log</code></pre>
            </section>
        </section>