        <section>
            <section>
                <h1>state <span class="type">boolean | Oscillator</span></h1>
                <hr />
                <p>
                    This method gets or sets state of each oscillator.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">undefined</span> or <span class="type">boolean</span></td>
                            <td>This value is to determine oscillator state</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;, 0).state&quot;);

X(&apos;oscillator&apos;).setup(true).start(440);

document.querySelector(&apos;[type=&quot;checkbox&quot;]&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;, 0).state(this.checked);
    console.log(X(&apos;oscillator&apos;, 0).state());

    X(&apos;oscillator&apos;).stop().start(440);
}, false);
</textarea>
                <p class="sound-controllers"><label><input type="checkbox" checked /> State</label></p>
            </section>
        </section>