        <section>
            <section>
                <h1>get <span class="returns">Returns : <span>Oscillator | Array</span></span></h1>
                <hr />
                <p>
                    This method gets the instance of Oscillator or the array that contains the instance of Oscillator.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is oscillator index.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;).get&quot;);

X(&apos;oscillator&apos;).setup([true, false, false, true]);

console.dir(X(&apos;oscillator&apos;).get(0));  /** {@type Oscillator} */
console.dir(X(&apos;oscillator&apos;).get(1));  /** {@type Oscillator} */
console.dir(X(&apos;oscillator&apos;).get(2));  /** {@type Oscillator} */
console.dir(X(&apos;oscillator&apos;).get(3));  /** {@type Oscillator} */

console.dir(X(&apos;oscillator&apos;).get());  /** {@type Array.<Oscillator>} */
</textarea>
            </section>
        </section>