        <section>
            <section>
                <h1>length <span class="returns">Returns : <span>number</span></span></h1>
                <hr />
                <p>
                    This method gets the number of oscillators
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;).length&quot;);

X(&apos;oscillator&apos;).setup([true, false, false, true]);

console.dir(X(&apos;oscillator&apos;).length());  // 4
</textarea>
            </section>
        </section>