        <section>
            <section>
                <h1>Oscillator#get <span class="returns">Returns : <span>OscillatorNode</span></span></h1>
                <hr />
                <p>
                    This method gets the instance of OscillatorNode.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;, 0).get&quot;);

X(&apos;oscillator&apos;).setup(true);

console.dir(X(&apos;oscillator&apos;, 0).get());  /** {@type OscillatorNode} */
</textarea>
            </section>
        </section>