        <section>
            <section>
                <h1>stop <span class="returns">Returns : <span>OscillatorModule</span></span></h1>
                <hr />
                <p>
                    This method stops sound.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">function</span></td>
                            <td>This value is <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">onaudioprocess</a> event hanlder.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;).stop&quot;);

var base = 40;

X(&apos;oscillator&apos;).setup([true, false, false, false]);

document.querySelector(&apos;.buttons li:first-child button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(false);
    X(&apos;oscillator&apos;, 2).state(false);
    X(&apos;oscillator&apos;, 3).state(false);

    // 440 Hz (A)
    X(&apos;oscillator&apos;).start(440);  // or, X(&apos;oscillator&apos;).ready(0, 0).start(440);
}, false);

document.querySelector(&apos;.buttons li:first-child + li button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(false);
    X(&apos;oscillator&apos;, 2).state(false);
    X(&apos;oscillator&apos;, 3).state(false);

    // 440 Hz (A) is the 48th in keyboard of piano
    X(&apos;oscillator&apos;).start(X.toFrequencies([48]));  // or, X(&apos;oscillator&apos;).ready(0, 0).start(X.toFrequencies([48]));
}, false);

document.querySelector(&apos;.buttons li:first-child + li + li button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(true);
    X(&apos;oscillator&apos;, 2).state(true);
    X(&apos;oscillator&apos;, 3).state(false);

    // C major
    X(&apos;oscillator&apos;).start(X.toFrequencies([base, (base + 4), (base + 7)]));
    // or, X(&apos;oscillator&apos;).ready(0, 0).start(X.toFrequencies([base, (base + 4), (base + 7)]));
}, false);

document.querySelector(&apos;.buttons li:first-child + li + li + li button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(true);
    X(&apos;oscillator&apos;, 2).state(true);
    X(&apos;oscillator&apos;, 3).state(false);

    // C minor
    X(&apos;oscillator&apos;).start(X.toFrequencies([base, (base + 3), (base + 7)]));
    // or, X(&apos;oscillator&apos;).ready(0, 0).start(X.toFrequencies([base, (base + 3), (base + 7)]));
}, false);

document.querySelector(&apos;.buttons li:first-child + li + li + li + li button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(true);
    X(&apos;oscillator&apos;, 2).state(true);
    X(&apos;oscillator&apos;, 3).state(true);

    // C7
    X(&apos;oscillator&apos;).start(X.toFrequencies([base, (base + 4), (base + 7), (base + 10)]));
    // or, X(&apos;oscillator&apos;).ready(0, 0).start(X.toFrequencies([base, (base + 4), (base + 7), (base + 10)]));
}, false);

document.querySelector(&apos;.buttons li:first-child + li + li + li + li + li button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();

    X(&apos;oscillator&apos;, 1).state(true);
    X(&apos;oscillator&apos;, 2).state(true);
    X(&apos;oscillator&apos;, 3).state(true);

    // Cm7
    X(&apos;oscillator&apos;).start(X.toFrequencies([base, (base + 3), (base + 7), (base + 10)]));
    // or, X(&apos;oscillator&apos;).ready(0, 0).start(X.toFrequencies([base, (base + 3), (base + 7), (base + 10)]));
}, false);

document.querySelector(&apos;.buttons li:last-child button&apos;).addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).stop();
}, false);
</textarea>
                <ul class="buttons">
                    <li><button type="button">440 Hz</button></li>
                    <li><button type="button">Index 48</button></li>
                    <li><button type="button">C</button></li>
                    <li><button type="button">Cm</button></li>
                    <li><button type="button">C7</button></li>
                    <li><button type="button">Cm7</button></li>
                    <li><button type="button">STOP</button></li>
                </ul>
            </section>
        </section>