        <section>
            <section>
                <h1>params <span class="returns">Returns : <span>string (JSON)</span></span></h1>
                <hr />
                <p>
                    This method gets the JSON for parameters.
                </p>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;oscillator&apos;).toJSON&quot;);
console.dir(X(&apos;oscillator&apos;).toJSON());
</textarea>
            </section>
        </section>