        <section>
            <section>
                <h1>create <span class="returns">Returns : <span>string (Data URL)</span></span></h1>
                <hr />
                <p>
                    This method creates MML text file.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>This value is MML string.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;mml&apos;).create&quot;);

var mml         = &apos;T74O4C4D4E4F4G4A4B4O5C4&apos;;
var mmlTextFile = X(&apos;mml&apos;).create(mml);

console.log(mmlTextFile);
</textarea>
            </section>
        </section>