        <section>
            <section>
                <h1>setup <span class="returns">Returns : <span>MML</span></span></h1>
                <hr />
                <p>
                    This method setups callback functions.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>
                                This argument is plain object that has the following properties.
                                <dl>
                                    <dt>start <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when the MML starts.</dd>
                                    <dt>stop <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when the MML stops.</dd>
                                    <dt>ended <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when the MML ended.</dd>
                                    <dt>error <span class="type">function</span></dt>
                                    <dd>This callback function is invoked when the MML is incorrect.</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;mml&apos;).setup&quot;);

X(&apos;mml&apos;).setup({
    start : function(sequence, index) {
        // The 1st argument is associative array for playing the MML.
        // This has the following properties.
        //    sequence.indexes;      // for X(&apos;oneshot&apos;)
        //    sequence.frequencies;  // for X(&apos;oscillator&apos;)
        //    sequence.start;        // the start time of notes
        //    sequence.duration;     // the duration of notes
        //    sequence.stop;         // the stop time of notes (this is total of &apos;start&apos; and &apos;duration&apos;)

        // The 2nd argument is current index.
        // For example,
        // var pianoIndex = sequence.indexes[index];
    },
    stop : function(sequence, index) {
        // The 1st argument is associative array for playing the MML.
        // This has the following properties.
        //    sequence.indexes;      // for X(&apos;oneshot&apos;)
        //    sequence.frequencies;  // for X(&apos;oscillator&apos;)
        //    sequence.start;        // the start time of notes
        //    sequence.duration;     // the duration of notes
        //    sequence.stop;         // the stop time of notes (this is total of &apos;start&apos; and &apos;duration&apos;)

        // The 2nd argument is current index.
        // For example,
        // var pianoIndex = sequence.indexes[index];
    },
    ended : function() {
    },
    error : function(error, note) {
        // The 1st argument is one of &apos;TEMPO&apos;, &apos;OCTAVE&apos;, &apos;NOTE&apos;, &apos;MML&apos;
        // The 2nd argument is invalid MML string
    }
});
</textarea>
            </section>
        </section>