        <section>
            <section>
                <h1>start <span class="returns">Returns : <span>MML</span></span></h1>
                <hr />
                <p>
                    This method starts MML.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is MML part.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">Array</span></td>
                            <td>This value is the array for changing connection.</td>
                        </tr>
                        <tr>
                            <th>3rd</th>
                            <td><span class="type">function</span></td>
                            <td>This value is <a href="http://webaudio.github.io/web-audio-api/#the-scriptprocessornode-interface---deprecated" target="_blank">onaudioprocess</a> event hanlder.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
console.log(&quot;X(&apos;mml&apos;).start&quot;);

X(&apos;oscillator&apos;).setup(true);

var mml = &apos;T74O4C4D4E4F4G4A4B4O5C4&apos;;

X(&apos;mml&apos;).setup({
    ended : function() {
        X(&apos;mml&apos;).ready(X(&apos;oscillator&apos;), [mml]);
        document.querySelector(&apos;button&apos;).textContent = &apos;START&apos;;
    }
}).ready(X(&apos;oscillator&apos;), [mml]);

document.querySelector(&apos;button&apos;).addEventListener(&apos;click&apos;, function() {
    if (X(&apos;mml&apos;).isPaused()) {
        X(&apos;mml&apos;).start(0);
        this.textContent = &apos;PAUSE&apos;;
    } else {
        X(&apos;mml&apos;).stop();
        this.textContent = &apos;START&apos;;
    }
}, false);
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">MML Controller</dt>
                    <dd><button type="button">START</button></dd>
                </dl>
            </section>
        </section>