        <section>
            <section>
                <h1>param <span class="returns">Returns : <span>number | Recorder</span></span></h1>
                <hr />
                <p>
                    This method gets or sets gain of track.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">string</span></td>
                            <td>This value is key for parameters.</td>
                        </tr>
                        <tr>
                            <th>2nd</th>
                            <td><span class="type">number</span> or <span class="type">undefined</span></td>
                            <td>This value is value for parameters. If this value is undefined, this method is getter.</td>
                        </tr>
                    </tbody>
                </table>
                <p>or,</p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">Object</span></td>
                            <td>This value is associative array for parameters.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).setup(true);

X(&apos;oscillator&apos;).module(&apos;recorder&apos;).setup(4);

var isStop = true;

document.querySelectorAll(&apos;button&apos;)[0].addEventListener(&apos;click&apos;, function() {
    if (isStop) {
        X(&apos;oscillator&apos;).module(&apos;recorder&apos;).ready(0).start();
        X(&apos;oscillator&apos;).start(440);

        this.textContent = &apos;STOP&apos;;
    } else {
        X(&apos;oscillator&apos;).module(&apos;recorder&apos;).stop();
        X(&apos;oscillator&apos;).stop();

        this.textContent = &apos;START&apos;;
    }

    isStop = !isStop;
}, false);

document.querySelectorAll(&apos;button&apos;)[1].addEventListener(&apos;click&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;recorder&apos;).stop();
    X(&apos;oscillator&apos;).stop();

    var wave = X(&apos;oscillator&apos;).module(&apos;recorder&apos;).create(&apos;all&apos;, 2, 16, &apos;base64&apos;);

    if (wave) {
        document.querySelector(&apos;audio&apos;).setAttribute(&apos;src&apos;, wave);
    }
}, false);

document.querySelector(&apos;#range-channel-left&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param(&apos;gainL&apos;, this.valueAsNumber); 
    // or,
    // X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param({gainL : this.valueAsNumber});

    document.querySelector(&apos;#output-channel-left&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param(&apos;gainL&apos;);
}, false);

document.querySelector(&apos;#range-channel-right&apos;).addEventListener(&apos;input&apos;, function() {
    X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param(&apos;gainR&apos;, this.valueAsNumber);
    // or,
    // X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param({gainR : this.valueAsNumber});

    document.querySelector(&apos;#output-channel-right&apos;).textContent = X(&apos;oscillator&apos;).module(&apos;recorder&apos;).param(&apos;gainR&apos;);
}, false);
</textarea>
                <dl class="sound-controllers">
                    <dt class="invisibility">Record Controller</dt>
                    <dt><label for="range-channel-left">Left Channel : <span id="output-channel-left">1</span></label></dt>
                    <dd><input type="range" id="range-channel-left" value="1" min="0" max="1" step="0.05" /></dd>
                    <dt><label for="range-channel-right">Right Channel : <span id="output-channel-right">1</span></label></dt>
                    <dd><input type="range" id="range-channel-right" value="1" min="0" max="1" step="0.05" /></dd>
                    <dd>
                        <button type="button">START</button>
                        <button type="button">CREATE</button>
                    </dd>
                    <dd><audio controls></audio></dd>
                </dl>
            </section>
        </section>