        <section>
            <section>
                <h1>ready <span class="returns">Returns : <span>Recorder</span></span></h1>
                <hr />
                <p>
                    This method selects the target track.
                </p>
                <table>
                    <caption>Arguments</caption>
                    <thead><tr><th scope="col"></th><th scope="col">Type</th><th scope="col">Description</th></tr></thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td><span class="type">number</span></td>
                            <td>This value is the target track number.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
<textarea class="codemirror">
X(&apos;oscillator&apos;).module(&apos;recorder&apos;).setup(4);
X(&apos;oscillator&apos;).module(&apos;recorder&apos;).ready(0);
</textarea>
            </section>
        </section>